body {
  font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
  color: rgb(26, 13, 65);
  margin: 0;
  background: rgb(0, 204, 255);
  // background-image: url("../assets/wallpaper-disco.png");

  
}

main {
  padding: 8px;
}

* {
  box-sizing: border-box;
}


h1 {
  color: #003f8b;
  font-size: 60px;
  text-align: center;
  font-family:  sans-serif;

  text-shadow: 0px 3px 0px #b2a98f,
               0px 14px 10px rgba(0,0,0,0.15),
               0px 24px 2px rgba(0,0,0,0.1),
               0px 34px 30px rgba(0,0,0,0.1);
}
