.search-form {
  display: flex;
  justify-content: flex-end;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  border: 1px solid #aaa;
  background: #eee;
  padding: 10px;
}

html, body {
  margin: 0;
 }